	.accomplishments {
		width: 48rem;
		height: 32rem;
		position: absolute;
		margin: 0 auto;
	}
	.box-accomp {
		float: left;
		margin: .25rem;
		background-color:#ffc800;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		color: black;
	}
	.medium {
		width: 11.5rem;
		height: 11.5rem;
	}
	.small{
		width: 11.5rem;
		height: 7.5rem;
	}
	.huge{
		width: 23.5rem;
		height: 23.5rem;
	}