/* our menu styles */

#sticky_navigation_wrapper {
	margin-top:-30px;
	width:100%; 
	height:35px;
	background:black; 
}

#sticky_navigation { 
	width:100%;
	margin:0 auto;
	height:35px;
	background:black; 
/*color of navbar background */
}

#sticky_navigation ul {
	width:800px;
	height:40px;
	margin:0 auto;
	list-style:none; 
	margin:0 auto; 
}

#sticky_navigation ul li {
	margin:0;
	padding:0;
	display:inline; 
}

#sticky_navigation ul li a { 
	display:block;
	padding:0 13px;
	height:35px;
	line-height:35px;
	font-size:14px;
	color:#ddd;
	text-decoration:none;
}

#sticky_navigation ul li a:hover, #sticky_navigation ul li a.selected {
	color:#ffc800;
}

#sticky_navigation ul li a {
	float:left;
}

.nav-left {
	text-align:right;
	float:left;
	width:340px;
	height:35px;
	margin-right:-100px;
}

.nav-right {
	text-align:left;
	float:right;
	width:340px;
	height:35px;
	margin-left:-100px;

}

#home {
		float:none !important;
		position:relative;
		margin:0 auto !important;
}

#who, #projects {
		float:right !important;
}